<h2><%= @city.title %></h2>

<h4><%= @city.description %></h4>

<table class="table table-striped">
  <% @posts.each do |post| %>
  <tr>
    <td><%= link_to(@post.title, ) %></td>
  </tr>
  <% end %>
</table>
